/*padding */

.padding--0-0-0-4{
    padding: 0 0 0 4vw;
}

.padding--0-0-0-8{
    padding: 0 0 0 8vw;
}

.padding--pt1-8{
    padding: 0.1vw 8vw;
}

.padding--pt1-0{
    padding: 0.1vw 0;
}

.padding--2pt5-0{
    padding: 2.5vw 0;
}

.padding--3-0{
    padding: 3vw 0;
}

.padding--4-8{
    padding: 4vw 8vw;
}

.padding--0-2{
    padding: 0 2vw;
}

.padding--1-0-0-0{
    padding-top: var(--vw-1);
}

.padding--0-8-4-8{
    padding: 0 8vw 4vw 8vw;
}

.padding--1-0-1-2pt5{
    padding: var(--vw-1-0-1-2pt5);
}

.padding--1{
    padding: 1vw;
}

.padding--2{
    padding: 2vw;
}

.padding--4{
    padding: 4vw;
}

.padding--5-0-0-0{
    padding: 4vw 0 0 0;
}


.padding--2-0{
    padding: 2vw 0;
}

.padding--5-4{
    padding: 5vw 4vw;
}
