{% extends 'base.html' %}
{% block div %}	
		
		<section class="section-fiche">
			<div class="votre-fiche">
				<div class="section-title-fiche">
					<h2>Fiche</h2>
				</div>
				<div class="timbre__infos">
					<div class="fiche-timbre__infos__img-wrapper">
						<h4>{{ timbre.timbre_nom }}</h4>
						<div class="line">
							<div class="timbre__infos__desc-line">
							</div>
						</div>
						
						<div class="fiche-timbre-img">
							
							<div class="fiche-img-wrapper">
								
								<img class="fiche-timbre__img" src="{{ timbre.image_lien }}" alt="">
		
							</div>
						</div>
						
						<div class="timbre__infos__date">
							<div class="timbre__infos__date-wrapper">
								<p class="fiche-timbre__infos__date-debut-fin">Début: {{ timbre.enchere_date_debut }}</p>
								<p class="fiche-timbre__infos__date-debut-fin">Fin: {{ timbre.enchere_date_fin }}</p>
							</div>
						</div>
						<div class="timbre__infos__count-down-container">
							<div class="timbre__infos__count-down-wrapper">
								<div class="fiche-timbre__infos__count-down-title">
									<p>Temps Restant</p>
								</div>
								<div class="line">
									<div class="timbre__infos__count-down-line">
									</div>
								</div>
								
								<div class="timbre__infos__count-down-chrono">
									<p class="fiche-timbre__chrono">25j 12:00:58</p>
								</div>
								<div class="timbre__infos__mise-actuelle">
									<div class="timbre__infos__mise-actuelle-wrapper">
										<p class="fiche-timbre__infos__mise-actuelle-depart">Départ: {{ timbre.enchere_prix_plancher }} $</p>
										<p class="fiche-timbre__infos__mise-actuelle-courante">Actuelle: <span >{{ timbre.enchere_prix_actuel }} $</span></p>
									</div>
								</div>
								<div class="timbre__mise">
									<div class="timbre__mise-input-wrapper">
										<input class="timbre__mise-input" type="text" placeholder="Placer votre mise">
									</div>
									
										<div class="timbre__btn-miser-container">
											<div class="timbre__btn-miser-wrapper">
											
												<div class="timbre__btn-miser">
													<p class="timbre__btn-miser-text">
														Miser
													</p>
												</div>
											</div>
										</div>
								
								</div>
							</div>
						</div>
					</div>
					<div class="fiche-timbre__infos-desc">
						<div class="fiche-timbre">
							<div class="fiche-timbre-carac">
								<div class="fiche-timbre-carac__colonne-gauche">
									<div class="fiche-timbre-carac__container">
										<div class="carac">
											<p class="carac__name">Provenance: </p>
											<p class="carac__desc">{{ timbre.pays_nom }}</p>
										</div>
										
									</div>
									<div class="fiche-timbre-carac__container">
										<div class="carac">
											<p class="carac__name">Condition: </p>
											<p class="carac__desc">{{ timbre.condition_nom }}</p>
										</div>
										
									</div>
									<div class="fiche-timbre-carac__container">
										<div class="carac">
											<p class="carac__name">Année: </p>
											<p class="carac__desc">{{ timbre.timbre_annee }}</p>
										</div>
									
									</div>
	
								</div>
								<div class="fiche-timbre-carac__colonne-droite">
	
									<div class="fiche-timbre-carac__container">
									
										<div class="carac">
											<p class="carac__name">Type: </p>
											<p class="carac__desc">{{ timbre.timbre_type }}</p>
										</div>
									</div>
									<div class="fiche-timbre-carac__container">
										
										<div class="carac">
											<p class="carac__name">Format: </p>
											<p class="carac__desc">{{ timbre.timbre_dimensions }}</p>
										</div>
									</div>
									<div class="fiche-timbre-carac__container">
										
										<div class="carac">
											<p class="carac__name">Couleur: </p>
											<p class="carac__desc">{{ timbre.timbre_couleur }}</p>
										</div>
									</div>
								</div>
								
							</div>
							<div class="fiche-timbre-carac__container">
								<div class="carac">
									<p class="carac__name">Certificat: </p>
									<p class="carac__desc">{{ timbre.certification_nom }}</p>
								</div>
							</div>
						</div>
						<div class="fiche-timbre-img__title-container">
							<p class="fiche-timbre-img__desc-title">Description</p>
						</div>
						<div class="fiche-line">
							<div class="fiche-timbre__infos__desc-line"></div>
						</div>
						<div class="fiche-timbre-img">
							
							<!-- <div class="fiche-bloc-wrapper"> -->
										<p class="fiche-mise__desc">
											{{ timbre.timbre_description }}
										</p>
							<!-- </div> -->
						</div>
					</div>	
				</div>
			</div>
		</section>

	</div>

	<!--	
	<div class="section-title">
		<h2>D'autres ont misé sur ces enchères</h2>
	</div>
	<main>
		<div class="grille grid" data-js-swap>
			
			
			<article class="timbre">
				<div class="timbre__infos">
					<div class="timbre__infos__img-wrapper">
						<img class="timbre__infos__img" src="./img/timbre2.png" alt="">
						<div class="timbre__infos__date">
							<div class="timbre__infos__date-wrapper">
								<p class="timbre__infos__date-debut-fin">Début: 2020-10-12</p>
								<p class="timbre__infos__date-debut-fin">Fin: 2020-11-20</p>
							</div>
						</div>
						<div class="timbre__infos__count-down-container">
							<div class="timbre__infos__count-down-wrapper">
								<div class="timbre__infos__count-down-title">
									<p>Temps Restant</p>
								</div>
								<div class="line">
									<div class="timbre__infos__count-down-line">
									</div>
								</div>
								
								<div class="timbre__infos__count-down-chrono">
									<p class="timbre__chrono">25j 12:00:58</p>
								</div>
							</div>
						</div>
					</div>
					<div class="timbre__infos-desc">
						<h4>Hindenburg First North America Flight Recovered Mail, posted Netherlands to Wooster, Ohio</h4>
						<div class="line">
							<div class="timbre__infos__desc-line">
							</div>
						</div>
						<p class="timbre__infos-intro">large remnant of cover franked by 12½c Boy Scout Jamboree (#208), tied by Rotterdam-Waalhaven c.d.s. dated 1.V.1937, addressed to G.</p>
						<details>
							<summary>Voir plus</summary>
							<p> Thoolen care of Mr. Donald E. Dickason; typical charring and damage, but lower left corner of stamp, near-complete postmark and flight cachet, and address fully present and legibl</p>
						</details>
						<div class="timbre__infos__mise-actuelle">
							<div class="timbre__infos__mise-actuelle-wrapper">
								<p class="timbre__infos__mise-actuelle-depart">Départ: 1000 $</p>
								<p class="timbre__infos__mise-actuelle-courante">Actuelle: <span >1200 $</span></p>
							</div>
						</div>
						<div class="timbre__mise">
							<div class="timbre__mise-input-wrapper">
								<input class="timbre__mise-input" type="text" placeholder="Placer votre mise">
							</div>
							<div class="timbre__btn-miser-container">
								<div class="timbre__btn-miser-wrapper">
								
									<div class="timbre__btn-miser">
										<p class="timbre__btn-miser-text">
											Miser
										</p>
									</div>
								</div>
							</div>
							
						</div>
						<a class="timbre__infos-fiche" href="">(Voir la fiche)</a>
					</div>	
				</div>

				
			</article>

			
			<article class="timbre">
				<div class="timbre__infos">
					<div class="timbre__infos__img-wrapper">
						<img class="timbre__infos__img" src="./img/timbre4.jpg" alt="">
						<div class="timbre__infos__date">
							<div class="timbre__infos__date-wrapper">
								<p class="timbre__infos__date-debut-fin">Début: 2020-10-12</p>
								<p class="timbre__infos__date-debut-fin">Fin: 2020-11-20</p>
							</div>
						</div>
						<div class="timbre__infos__count-down-container">
							<div class="timbre__infos__count-down-wrapper">
								<div class="timbre__infos__count-down-title">
									<p>Temps Restant</p>
								</div>
								<div class="line">
									<div class="timbre__infos__count-down-line">
									</div>
								</div>
								
								<div class="timbre__infos__count-down-chrono">
									<p class="timbre__chrono">25j 12:00:58</p>
								</div>
							</div>
						</div>
					</div>
					<div class="timbre__infos-desc">
						<h4>Hindenburg First North America Flight Recovered Mail, posted Netherlands to Wooster, Ohio</h4>
						<div class="line">
							<div class="timbre__infos__desc-line">
							</div>
						</div>
						<p class="timbre__infos-intro">large remnant of cover franked by 12½c Boy Scout Jamboree (#208), tied by Rotterdam-Waalhaven c.d.s. dated 1.V.1937, addressed to G.</p>
						<details>
							<summary>Voir plus</summary>
							<p> Thoolen care of Mr. Donald E. Dickason; typical charring and damage, but lower left corner of stamp, near-complete postmark and flight cachet, and address fully present and legibl</p>
						</details>
						<div class="timbre__infos__mise-actuelle">
							<div class="timbre__infos__mise-actuelle-wrapper">
								<p class="timbre__infos__mise-actuelle-depart">Départ: 1000 $</p>
								<p class="timbre__infos__mise-actuelle-courante">Actuelle: <span >1200 $</span></p>
							</div>
						</div>
						<div class="timbre__mise">
							<div class="timbre__mise-input-wrapper">
								<input class="timbre__mise-input" type="text" placeholder="Placer votre mise">
							</div>
							<div class="timbre__btn-miser-container">
								<div class="timbre__btn-miser-wrapper">
								
									<div class="timbre__btn-miser">
										<p class="timbre__btn-miser-text">
											Miser
										</p>
									</div>
								</div>
							</div>
							
						</div>
						<a class="timbre__infos-fiche" href="">(Voir la fiche)</a>
					</div>	
				</div>

				
			</article>



			<article class="timbre">
				<div class="timbre__infos">
					<div class="timbre__infos__img-wrapper">
						<img class="timbre__infos__img" src="./img/tile__infos-picture.png" alt="">
						<div class="timbre__infos__date">
							<div class="timbre__infos__date-wrapper">
								<p class="timbre__infos__date-debut-fin">Début: 2020-10-12</p>
								<p class="timbre__infos__date-debut-fin">Fin: 2020-11-20</p>
							</div>
						</div>
						<div class="timbre__infos__count-down-container">
							<div class="timbre__infos__count-down-wrapper">
								<div class="timbre__infos__count-down-title">
									<p>Temps Restant</p>
								</div>
								<div class="line">
									<div class="timbre__infos__count-down-line">
									</div>
								</div>
								
								<div class="timbre__infos__count-down-chrono">
									<p class="timbre__chrono">25j 12:00:58</p>
								</div>
							</div>
						</div>
					</div>
					<div class="timbre__infos-desc">
						<h4>Hindenburg First North America Flight Recovered Mail, posted Netherlands to Wooster, Ohio</h4>
						<div class="line">
							<div class="timbre__infos__desc-line">
							</div>
						</div>
						<p class="timbre__infos-intro">large remnant of cover franked by 12½c Boy Scout Jamboree (#208), tied by Rotterdam-Waalhaven c.d.s. dated 1.V.1937, addressed to G.</p>
						<details>
							<summary>Voir plus</summary>
							<p> Thoolen care of Mr. Donald E. Dickason; typical charring and damage, but lower left corner of stamp, near-complete postmark and flight cachet, and address fully present and legibl</p>
						</details>
						<div class="timbre__infos__mise-actuelle">
							<div class="timbre__infos__mise-actuelle-wrapper">
								<p class="timbre__infos__mise-actuelle-depart">Départ: 1000 $</p>
								<p class="timbre__infos__mise-actuelle-courante">Actuelle: <span >1200 $</span></p>
							</div>
						</div>
						<div class="timbre__mise">
							<div class="timbre__mise-input-wrapper">
								<input class="timbre__mise-input" type="text" placeholder="Placer votre mise">
							</div>
							<div class="timbre__btn-miser-container">
								<div class="timbre__btn-miser-wrapper">
								
									<div class="timbre__btn-miser">
										<p class="timbre__btn-miser-text">
											Miser
										</p>
									</div>
								</div>
							</div>
							
						</div>
						<a class="timbre__infos-fiche" href="">(Voir la fiche)</a>
					</div>	
				</div>

				
			</article>				
		</div>
	</main>
-->
{% endblock %}