
@media only screen and (min-width: 1024px) {
    .certification{
        justify-content: space-evenly;
    }
}

.certification{
    display: none;
}

@media only screen and (min-width: 1024px) {
    .certification{
        background-color: var(--color-tertiary);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 2vw 0 0 0;
        width: 100%;
    }
}

.certification > div{
    display: flex;
    flex-direction: column;
        align-items: center;
        justify-content: center;
}

