/*------------------------------------*\
  header / components
\*------------------------------------*/



/* .header{
    display: flex;
    justify-content: space-between; 
    position: fixed;
    padding: 0.3vw 2vw 0 2vw;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: var(--color-primary) ;
  
} */





