


.space-filter-container{
    background-color: var(--color-primary);
    border: 4px solid var(--color-secondary);
    flex-grow: 1;
	min-width: 12em;
	flex-shrink: 1;
	position: sticky;
	top: 3em;
	align-self: flex-start;
	padding: 2em;
	box-sizing: border-box;
	min-height: calc(100vh - (3em * 2));
}

.space-filter__wrapper{

 

}