/*------------------------------------*\
  tuile / components
\*------------------------------------*/



/*timbre*/

.timbre {
    border-top: 2px solid var(--color-secondary);
    border-right: 1px dashed var(--color-secondary);
      min-height: 15em;
      padding: 1em;
  }
  
  .timbre__infos__img{
      width: 6em;
  }
  
  .timbre__infos{
      display: flex;
    justify-content: center;
  }
  
  .timbre__infos-desc h4{
      /* border-bottom: 2px var(--color-primary-contrast) solid; */
      font-size: 1.2em;
    font-weight: lighter;
      margin: 0 0 0 1.5vw;
    /* padding-bottom: 1.5vw; */
  }
  
  .timbre__infos-desc{
    display: flex;
    flex-direction: column;
    
  }
  
  .timbre__infos-intro{
    line-height: 1.3em;
    margin-left: 1.5vw;
  }
  
  details {
    color: var(--color-secondary);
    margin: 0 0 1.5vw 1.5vw;
  }
  
  
  details > summary{
      padding-top: 1.3vw;
  }
  
  details > p {
      line-height: 1.3em;
  }
  
  .timbre__infos__mise-actuelle-depart, .timbre__infos__mise-actuelle-courante{
    font-size: 0.8em;
    margin-left: 1.5vw;
  }
  
  .timbre__infos__mise-actuelle-courante > span {
    color: var(--color-primary-contrast);
  }
  
  .timbre__infos__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .timbre__infos__date-debut-fin{
    font-size: 0.6em;
    line-height: 1.75em;
  }
  
  .timbre__infos__date-wrapper{
    align-self: center;
    
  }
  
  .timbre__infos__count-down-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .timbre__infos__count-down-wrapper{
    justify-content: center;
  }
  
  .timbre__infos__count-down-title{
    font-weight: 500;
    padding: 1em 0;
  }
  
  .timbre__infos__count-down-title > p{
    color: var(--color-primary);
    font-size: 1em;
  }
  
  .timbre__infos__count-down-wrapper .line {
    display: flex;
    justify-content: center;
  }
  
  .timbre__infos__count-down-line{
    background-color: var(--color-secondary);
    width: 50%;
    height: 0.1px;
    border: 0.5px solid var(--color-secondary);
  }
  
  .line {
    display: flex;
    justify-content: center;
  }
  
  .timbre__infos__desc-line{
    background-color: var(--color-primary-contrast);
    margin: 1.5vw 0;
    width: 50%;
    height: 0.1px;
    border: 0.5px solid var(--color-primary-contrast);
  }
  
  .timbre__infos__count-down-chrono{
    padding: 1em 0;
  }
  
  .timbre__chrono{
    color: var(--color-primary-contrast);
    font-size: 0.7em;
    text-align: center;
    word-spacing: 0.01em;
  }
  
  .timbre__btn-miser-container{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: flex-start;
  }
  
  .timbre__btn-miser-container:hover .timbre__btn-miser-text{
    color: var(--color-tertiary)
  }
  
  .timbre__btn-miser-wrapper{
    /* align-self: center; */
    border-radius: 10px;
    /* margin-top: 0.5em; */
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    height: 2.75em;
    margin-left: 1.5vw;
    width: 5.75em;
  }
  
  .timbre__btn-miser{
    display: flex;
    align-self: center;
    border-radius: 5px;
    background-color: var(--color-primary);
    height: 2em;
    justify-content: center;
    width: 5em;
  }
  
  .timbre__btn-miser-text{
    align-self: center;
    color: var(--color-secondary);
  }
  
  .timbre__mise{
    display: flex;
    justify-content: space-evenly;
    margin-left: 1.5vw;
  }
  
  .timbre__mise-input-wrapper{
    display: flex;
    justify-content: center;
  }
  
  .timbre__mise-input{
    align-self: center;
    border: 2px solid var(--color-secondary);
    width: 12em;
    height: 2.75em;
  }
  
  .timbre__mise-input::placeholder{
    color: var(--color-secondary);
    font-family: var(--font-secondary);
    font-weight: bold;
    text-align: center;
  }
  
  .timbre__infos-fiche{
    align-self: flex-start;
    color: var(--color-secondary);
    font-size: 1em;
    padding: 1em 1em 1em 1.75em;
  }
  
  article {
      /* outline: 1px red dashed; */
      background-color: var(--color-tertiary);
      min-height: 25em;
      padding: 1em;
  }